<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <title>Register Form</title>
    <link rel="stylesheet" type="text/css" href="css/register.css"></link>
    <link rel="stylesheet" type="text/css" href="css/button.css"></link>
  </head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  <body>
    <div class="container">
      <div class="register">
        <h1>회원가입</h1>
        <form action="/register_step5" method="post">
          <p>
              <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Player_%28logo1%29.jpg" width="100" height="40" style="margin-left:100px;" >
               <br></br>Smart palyer에 오신것을 환영합니다.
                신규 회원가입은 이메일로 가입 할수있습니다.
          </p>
          <br></br>
          <p>
              <a href="/register_step4"> <button type = "button"  class="btn_order" style="margin-left:100px;">이메일로 가입</button></a>
          </p>


        </form>
    </body>

</html>
