<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search_ID</title>
    <link rel="stylesheet" type="text/css" href="css/register_smallbtn.css"></link>
    <link rel="stylesheet" type="text/css" href="css/button.css"></link>
  </head>
  <body>
    <div class="container">
      <div class="register_smallbtn">
      <h1>ID 찾기</h1>
    <article>
      <form action="/search_ID" method="post">
        <p>
          이름:
          <input type="text" name="name" required>
        </p>
        <p>
          E-mail:
          <input type="email" name="email" required>
        </p>
        <p>
          휴대폰 번호:
          <input type="text" name="phone_num" required>
        </p>
        <p>
            <a href="/search"> <button type = "button"  class="btn_cancel1" style="margin:10px;">취소</button></a>
            <input type="submit" class="btn_submit2" style="margin:10px;" >
      </p>
      </form>
    </article>


  </body>
</html>
