<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>search_ID_result</title>
    <link rel="stylesheet" type="text/css" href="css/register_smallbtn.css"></link>
    <link rel="stylesheet" type="text/css" href="css/button.css"></link>
  </head>
  <body>
    <div class="container">
      <div class="register_smallbtn">
      <h1>ID 찾기_결과</h1>
    <article>
      <form action="/search_ID_result" method="get">
        <p>
           <input type="text" name="username" value='<%=username %>' readonly>
        </p>
        <p>
            <a href="/login"> <button type = "button"  class="btn_cancel1" style="margin:10px;">로그인</button></a>
            <a href="/search_PW"> <button type = "button"  class="btn_cancel1" style="margin:10px;">PW찾기</button></a>
        </p>

      </form>
    </article>
 </div>
</div>

  </body>
</html>
