<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <title>search_ID_fail</title>
    <link rel="stylesheet" type="text/css" href="css/register.css"></link>
    <link rel="stylesheet" type="text/css" href="css/button.css"></link>
  </head>
  <body>
    <div class="container">
      <div class="register">
        <h1>ID 찾기 실패</h1>
        <form action="/setting_PW_result" method="get">
          <p>
                <br>ID 찾기실패입니다. 등록되지 않은 사용자입니다.</br>
          </p>
          <p>
                <a href="/search_ID"> <button type = "button"  class="btn_cancel1" style="margin:10px;">ID 찾기</button></a>
                <a href="/register_step1"> <button type = "button"  class="btn_cancel1" style="margin:10px;">회원가입</button></a>
          </p>
        </form>
    </body>

</html>
