<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <head>
    <title>search_PW_fail</title>
    <link rel="stylesheet" type="text/css" href="css/register.css"></link>
    <link rel="stylesheet" type="text/css" href="css/button.css"></link>
  </head>
  <body>
    <div class="container">
      <div class="register">
        <h1>비밀번호 찾기 실패</h1>
        <form action="/search_PW_fail" method="get">
          <p>
                <br>비밀번호 찾기실패입니다. 정확하게 기입해주세요.</br>
          </p>
          <p>
                <a href="/search_PW"> <button type = "button"  class="btn_cancel1" style="margin:10px;">비밀번호 찾기</button></a>
                <a href="/register_step1"> <button type = "button"  class="btn_cancel1" style="margin:10px;">회원가입</button></a>
          </p>
        </form>
    </body>

</html>
