
@font-face {
  font-family: 'SeN-CB';
  src: url('SeN-CB.eot?#iefix') format('embedded-opentype'),  url('SeN-CB.woff') format('woff'), url('SeN-CB.ttf')  format('truetype'), url('SeN-CB.svg#SeN-CB') format('svg');
  font-weight: normal;
  font-style: normal;
}
