
@font-face {
  font-family: 'NanumGothicExtraBold';
  src: url('NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),  url('NanumGothicExtraBold.woff') format('woff'), url('NanumGothicExtraBold.ttf')  format('truetype'), url('NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
